@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Inconsolata:wght@300;600&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

body
{
   width: 100%;
   background-color: rgba(255, 188, 45, 0.479);
}

h1
{
    font-size: 3.5rem;
    text-decoration: underline;
    text-decoration-color: brown;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

input
{
    margin:10px;
    padding: 10px; 
    border-radius: 10px;
    width: 100%;
    box-shadow: 1px 1px hsla(0, 64%, 98%, 0.692);
}

ul, li
{
    font-size: 1.5rem;
    text-decoration: solid;
    
    padding: 5px;
}

li
{
  color:rgb(23, 63, 7);
  font-weight: 900;
  background-color: cadetblue;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:20px 0 20px 20px;
  border-radius: 10px;
  margin-top: 10px;
}

button
{
  font-size: 1rem;
  background-color: aqua;
  font-weight: 700;
  border-radius: 10px;
  margin-left: auto;
}

.fa-plus
{
    background-color: hsl(0, 33%, 83%);
    font-size: 2rem;
    border-radius: 5px;
    padding: 3px;
    transition: 0.5s;
}

.fa-plus:hover
{
    color:hsl(0, 33%, 83%);
    background-color: rgba(44, 46, 27, 0.76);
}

.rotate:active
 {
    animation: rotation 0.3s linear;
 }

   @keyframes rotation
   {
    from
    {
      transform: rotate(0deg);
    } 
    to 
    {
      transform: rotate(359deg);
    }
  }

.box
{  
  border: 10px solid #c44141;
  padding: 5rem;
  border-radius: 15px;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.box-container
{
  display: table-cell;
  vertical-align: middle;
}

.box-content
{
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

header
{
  display: flex;
  align-items: center;
}

.list
{
 
}