@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Inconsolata:wght@300;600&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

body
{
   width: 100%;
   background-color: rgba(255, 188, 45, 0.479);
}

h1
{
    font-size: 3.5rem;
    text-decoration: underline;
    text-decoration-color: brown;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 5px;
}

input
{
    margin:10px;
    padding: 10px; 
    border-radius: 10px;
    width: 100%;
    box-shadow: 1px 1px hsla(0, 64%, 98%, 0.692);
}

ul, li
{
    font-size: 1.5rem;
    text-decoration: solid;
    list-style: none;
    padding: 5px;
}

.fa-plus
{
    background-color: hsl(0, 33%, 83%);
    font-size: 2rem;
    border-radius: 5px;
    padding: 3px;
    transition: 0.5s;
}

.fa-plus:hover
{
    color:hsl(0, 33%, 83%);
    background-color: rgba(44, 46, 27, 0.76);
}

.rotate:active
 {
    animation: rotation 0.3s linear;
 }

   @keyframes rotation
   {
    from
    {
      transform: rotate(0deg);
    } 
    to 
    {
      transform: rotate(359deg);
    }
  }

.box
{ 
    position: absolute;
    top:20rem;
    transform: translate(50rem, 0);
    border: 2px solid #ff0000;
    padding: 15px;
    border-radius: 5px;
}